@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", serif;
}
.card-discription{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

body{padding: 0 160px;}

/* header seccion */

nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
nav h2{
    font-size: 32;
    font-weight: 700;
}
 
nav button{
    font-size: 600;
    font-size: 18px;
    padding: 15px 30px; 
    border: 2px solid;
    border-color: #006A50;
    border-radius: 8px;
    
}
.baner-contener{
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 60px;
    display: flex;
    align-items: center;
    
}

.baner-sub-title{
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
    margin-bottom: 16px;
}
.baner-title{
    font-size: 56px;
    width: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.baner-discription button{
    background-color: #006A50;
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
    padding: 17px 38px;
}
/* sectoin 1 the card section */
.section-1{
    margin: 80px 0;
}
.section-1 h1{
    font-size: 40px;
    font-weight: 700;
}
.card-1-contener{
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    gap: 24px;
}

.card-1{
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 0 15px #a3a1a1;
   
}
/* section 2 the vision for future */

.section-2-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.section-2-discription{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
}
.card-2-contener{
    margin-bottom: 32px;
    display: flex;
    gap: 24px;
}
#digital-trans{
    background-color:rgba(198, 228, 214, 1);
    padding: 32px;
    border-radius: 16px;
}
#digital-trans button{
    border: 0;
    color: white;
    background-color: #09A15C;
    border-radius: 8px;
    padding: 11px 20px;
    margin-top: 24px;
}
#green-e{ 
    background-color:rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
}
#green-e button{
    border: 0;
    color: white;
    background-color: #5490F5;
    border-radius: 8px;
    padding: 11px 20px;
    margin-top: 24px;

}
#modern-infest{
    background-color:rgba(247, 235, 207, 1);
    padding: 32px;
    border-radius: 16px;
}
#modern-infest button{
    border: 0;
    color: white;
    background-color: #FFC239;
    border-radius: 8px;
    padding: 11px 20px;
    margin-top: 24px;

}
.dr-yunus{
    box-shadow: 0 0 30px rgb(207, 198, 198);
    padding: 28px 24px;
    border: 10px;
}
.dr-yunus #spaech{
    padding-top: 22px;
    background-image: url("../image/quote-bg.png");
    background-repeat: no-repeat;
    color: rgba(14, 14, 14, 0.9);
    margin-bottom: 12px;
}

.dr-yunus h3{
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}
#designation{
    color: rgba(14, 14, 14, 0.6);
    
}

/* section 3 table design */
#section-3{
    margin-top: 80px;
}
#section-3 h1{
    
    font-size: 40px;
    width: 600;
    margin-bottom: 24px;
}
#section-3 h2{
    font-size: 20px;
    font-weight: 600;
    
}
#ques{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* section 3 not finish yeat */
/* section 4 */
.section-4{
    margin-top: 80px;
}
.section-4 h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
}

.news-port{
    display: flex;
    gap: 32px;
    margin-top: 24px;
    padding: 48px;
}
.stalite{
    border-radius: 24px;

}
.news-port h2{
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 700;
    color: rgba(14, 14, 14, 0.8);
}
#date{
    margin: 12px 0;
    display: flex;
    gap: 12px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.news-port button{
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    padding: 13px 26px;
    margin-top: 32px;
    color: rgb(235, 223, 223);
}

.section-5 h1{
    text-align: center;
    margin: 80px 0 24px;
    font-size: 40px;
    width: 600;
}
.section-5 p{
    padding: 0 88px;
}
.bttn-contener{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    justify-content: center;


}
.bttn{
    padding: 30px;
    border-radius: 16px;
    border: 0;
    background-color: rgba(196, 195, 195, 0.15);
    font-size: 30px;
    width: 600;
    color: rgba(14, 14, 14, 0.8);
    
}
.rong{
    background-color: rgba(198, 228, 214, 1);
}

.rong:hover{background-color: #6196f3;}

.taka-amount{
    height: 64px;
    width: 100%;
    text-align: center;
    margin: 30px 0;
}
#but{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    width: 500;
    padding: 0 auto;
}
#submit{
    display: flex;
    justify-content: center;
}
/* section 6 */

.section-6{
    background-color: rgba(198, 228, 214, 1);
    margin: 80px 0;
    padding: 80px 260px;
    text-align: center;
}
.section-6 h1{
    font-size: 40px;
    width: 600;
}

#emeil{
    padding: 18px 40px;
    width: 50%;
    font-size: 18px;
   
}
#g-submit{
    display: 100%;
    background-color: #006A50;
    color: white;
    padding: 17px 36px;
    font-size: 20px;
    width: 600;
    
}